<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
<div class="form-group">
  <%= label f, :location %>
  <%= text_input f, :location ,required: "required",class: "form-control" %>
  <%= error_tag f, :location %>
</div>

<%= inputs_for  f , :contact_address,[as: :cads], fn p -> %>
<div class="form-group">
  <%= label p, :address, class: "control-label" %>

  <%= textarea p, :address, class: "form-control" %>
  <%= error_tag p, :address %>
</div>
<div class="form-group">
  <%= label p, :email, class: "control-label" %>

  <%= text_input p, :email, class: "form-control" %>
  <%= error_tag p, :email %>
</div>
<div class="form-group">
  <%= label p, :phone, class: "control-label" %>

  <%= text_input p, :phone, class: "form-control" %>
  <%= error_tag p, :phone %>
</div>
<% end %>

  <div>
    <%= submit "Save" ,class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
