<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> Listing Contact Info </h5>

                        </div>
                        <div class="ibox-content">
                            <div class="row">

 <div class="table-responsive">
                                <table class="table table-striped">


  <thead>
    <tr>
      <th>Location</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for contact <- @contacts do %>
    <tr>
      <td><%= contact.location %></td>


      <%= for t <- contact.contact_address do  %>
      <td><%= t.address %></td>
      <td><%= t.email %></td>
      <td><%= t.phone %></td>
      <% end %>

      <td>
        <%= link raw("<i class=\"fa fa-eye text-navy\"></i>"), to: Routes.admin_contact_path(@conn, :show, contact) %>
        <%= link raw("<i class=\"fa fa-edit text-navy\"></i>"), to: Routes.admin_contact_path(@conn, :edit, contact) %>
        <%= link raw("<i class=\"fa fa-trash text-navy\"></i>"), to: Routes.admin_contact_path(@conn, :delete, contact), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Contact", to: Routes.admin_contact_path(@conn, :new) ,class: "btn btn-sm btn-primary" %></span>
</div></div></div></div></div></div>