<h1>Show Contact</h1>

<ul>

  <li>
    <strong>Location:</strong>
    <%= @contact.location %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_contact_path(@conn, :edit, @contact) %></span>
<span><%= link "Back", to: Routes.admin_contact_path(@conn, :index) %></span>
