<%= form_for @changeset, @action, [role: "form" ],fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>


 <div class="form-group">

  <%= label f, :firstname %>
  <%= text_input f, :firstname , required: "required",class: "form-control" %>
  <%= error_tag f, :firstname %>
</div>
 <div class="form-group">

  <%= label f, :lastname %>
  <%= text_input f, :lastname ,required: "required", class: "form-control" %>
  <%= error_tag f, :lastname %></div>
 <div class="form-group">

  <%= label f, :email %>
  <%= text_input f, :email ,required: "required", class: "form-control" %>
  <%= error_tag f, :email %>
  </div>
   <div class="form-group">

    <%= label f, :phone %>
    <%= text_input f, :phone ,required: "required", class: "form-control" %>
    <%= error_tag f, :phone %>
    </div>
  <div>
    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs" %>
  </div>
<% end %>
