<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Users List </h5>

                        </div>
                        <div class="ibox-content">
                            <div class="row">

 <div class="table-responsive">
                                <table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Created</th>

      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= Timex.from_now user.inserted_at %></td>

      <td colspan="2">
        <%= link raw("""
        <i class="fa fa-eye text-navy"></i>
        """), to: Routes.admin_user_path(@conn, :show, user) %>
        <%= link raw("""
                <i class="fa fa-edit text-navy"></i>
                """),
                 to: Routes.admin_user_path(@conn, :edit, user) %>
        <%= link raw("""
                <i class="fa fa-trash text-navy"></i>
                """),
         to: Routes.admin_user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New User", to: Routes.admin_user_path(@conn, :new), class: "btn btn-sm btn-primary" %></span>
</div></div></div></div></div></div>