
 <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                        <div class="col-lg-8">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>New Staff </h5>

                               </div>
                               <div class="ibox-content">
                                   <div class="row">
                                       <div class="col-sm-8">


<%= render "form.html", Map.put(assigns, :action, Routes.admin_user_path(@conn, :create)) %>



</div></div></div></div></div></div></div>