




            <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                        <div class="col-lg-8">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>User Profile</h5>

                               </div>
                               <div class="ibox-content">
                                   <div class="row">
                                       <div class="col-sm-8">


<%= form_for @changeset, Routes.admin_user_path(@conn, :userprofile_submit), [role: "form" ],fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>


 <div class="form-group">

  <%= label f, :firstname %>
  <%= text_input f, :firstname , class: "form-control" %>
  <%= error_tag f, :firstname %>
</div>
 <div class="form-group">

  <%= label f, :lastname %>
  <%= text_input f, :lastname , class: "form-control" %>
  <%= error_tag f, :lastname %></div>
 <div class="form-group">

  <%= label f, :phone %>
  <%= text_input f, :phone , class: "form-control" %>
  <%= error_tag f, :phone %>
  </div>
  <div>

    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs" %>
  </div>
<% end %>

</div></div></div></div></div></div></div>