
  <div class="middle-box text-center  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">BCL Admin</h1>

            </div>

  <%= if @conn.assigns[:errors]  do %>
    <div class="alert alert-danger">
      <%= for {e,v} <- @errors do %>

      <p> <%= "#{e} :  #{elem(v,0)}"  %></p>
       <% end %>
    </div>
  <% end %>


            <code> Password Change tool </code><br/><br/>
<%= form_for @conn, Routes.admin_session_path(@conn,:change_password_submit) , [as: :session ] , fn f ->  %>


 <div class="form-group">
<%= password_input f, :password , placeholder: "Enter password", required: "required", class: "form-control" %>
 <%= error_tag f, :password %>
</div>


 <div class="form-group">
<%= password_input f, :password_confirmation , placeholder: "Confirm password", required: "required", class: "form-control" %>
 <%= error_tag f, :password_confirmation %>
</div>

<button type="submit" class="btn btn-primary block full-width m-b">Submit</button>


<% end %>
</div></div>