

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">BCL Admin</h1>

            </div>

            <code> Password Recovery </code><br/><br/>
            <%= form_for @conn, Routes.session_path(@conn, :recover_password_submit), [as: :session], fn f -> %>
                <div class="form-group">

                     <%= text_input f, :email, placeholder: "Email",required: "required", class: "form-control" %>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>

                <a href="<%= Routes.session_path(@conn, :new)%>"><small>Have an account? Login</small></a>


            <% end %>

        </div>
    </div>


