

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">BCL Admin</h1>
<a href="<%= Routes.page_path(@conn,:index) %>">Go to  Main Website</a>
            </div>

            <code>Provide your admin email and password</code><br/><br/>
            <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
                <div class="form-group">

                     <%= text_input f, :email, placeholder: "Email",required: "required", class: "form-control" %>
                </div>
                <div class="form-group">


                       <%= password_input f, :password, placeholder: "Password",required: "required", class: "form-control" %>

                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="<%= Routes.session_path(@conn, :recover_password) %>"><small>Forgot password?</small></a>


            <% end %>

        </div>
    </div>


