

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">BCL Admin</h1>

            </div>

            <code> Password Reset tool </code><br/><br/>
            <%= form_for @conn, Routes.session_path(@conn, :reset_password_submit,@code), [as: :session], fn f -> %>
                <div class="form-group">

                     <%= password_input f, :password, placeholder: "new password",required: "required", class: "form-control" %>
                </div>
                <div class="form-group">

                                     <%= password_input f, :password_confirmation, placeholder: "confirm password",required: "required", class: "form-control" %>
                                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>




            <% end %>

        </div>
    </div>


