<p>Hello <%= @name %>! </p>
<p>
  <strong>Please follow  or copy the link <strong> to reset you password!
</p>
<p>
   <a href="<%= Routes.session_url(BrickcroftWeb.Endpoint,:reset_password,@password_reset_code) %>" > Click to reset password </a>
</p>
