<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for category <- @categories do %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>

      <td>
        <%= link "Show", to: Routes.admin_category_path(@conn, :show, category) %>
        <%= link "Edit", to: Routes.admin_category_path(@conn, :edit, category) %>
        <%= link "Delete", to: Routes.admin_category_path(@conn, :delete, category), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Category", to: Routes.admin_category_path(@conn, :new) %></span>
