<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name ,class: "form-control" %>
  <%= error_tag f, :name %>

  <%= label f, :designation %>
  <%= text_input f, :designation ,class: "form-control"%>
  <%= error_tag f, :designation %>

  <%= label f, :profile %>
  <%= textarea f, :profile ,class: "form-control"%>
  <%= error_tag f, :profile %>

  <div>
  <br/>
    <%= submit "Save" ,class: "btn btn-sm btn-primary pull-right m-t-n-xs submit" %>
  </div>
<% end %>
