<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Profile</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for team <- @teams do %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.designation %></td>
      <td><%= team.profile %></td>

      <td>
        <%= link "Show", to: Routes.admin_team_path(@conn, :show, team) %>
        <%= link "Edit", to: Routes.admin_team_path(@conn, :edit, team) %>
        <%= link "Delete", to: Routes.admin_team_path(@conn, :delete, team), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Team", to: Routes.admin_team_path(@conn, :new) %></span>
