<h1>New  Team</h1><div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-title">
                                                                <h5>New  Team  </h5>

                                                           </div>
                                                           <div class="ibox-content">
                                                               <div class="row">
                                                                   <div class="col-sm-8">
<%= render "form.html", Map.put(assigns, :action, Routes.admin_team_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_team_path(@conn, :index) %></span>
</div></div></div></div></div></div></div>