


<section class="about-us-section">
        <div class="row">
            <div class="col-md-6 col-12 about-description-text">
				<%= if @webpage.content, do: raw @webpage.content %>
			</div>
			<div class="col-md-6 col-12 my-2 d-flex justify-content-center align-items-center flex-column">
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="refrences-tab" data-toggle="tab" href="#refrences" role="tab" aria-controls="refrences" aria-selected="true">Values</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="objective-tab" data-toggle="tab" href="#objective" role="tab" aria-controls="objective" aria-selected="false">Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="standards-tab" data-toggle="tab" href="#standards" role="tab" aria-controls="standards" aria-selected="false">Mission</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane tab-details fade show text-white active p-3" id="refrences" role="tabpanel" aria-labelledby="refrences-tab">
                            <p>
                               <%= if @settings.values do %>
                                                     			  <%= @settings.values %>
                                                     			<% end %>       </p>
                        </div>
                        <div class="tab-pane tab-details fade text-white p-3" id="objective" role="tabpanel" aria-labelledby="objective-tab">
                            <p>
                                   <%= if @settings.vision do %>
                                                                                      			  <%= @settings.vision %>
                                                                                      			<% end %>             </p>
                        </div>
                        <div class="tab-pane tab-details fade text-white p-3" id="standards" role="tabpanel" aria-labelledby="standards-tab">
                            <p>
                                 <%= if @settings.mission do %>
                                                                                    			  <%= @settings.mission %>
                                                                                    			<% end %>          </p>
                        </div>
                    </div>
                </div>
			</div>
        </div>

    </section>

    <section class="about-details">
        <div class="row">
            <div class="col-md-4 about-description-text text-left d-flex justify-content-center flex-column">
                <h2 class="font-weight-bold"> What We Do</h2>
                <h6>
                  <%= if @settings.footer_brief_service, do:  @settings.footer_brief_service  %> </h6>
            </div>
            <div class="col-md-8 row  justify-content-center align-items-center">


                <%= for {v,ctr} <- Enum.with_index(@services) do %>

                <%= if ctr == 0 do %>
                <div class="col-md-6 each-detail d-flex justify-content-center flex-column first-details px-4 py-5">

   <% end %>
  <%= if ctr == length(@services) - 1 do %>

 <div class="col-md-6 each-detail d-flex justify-content-center flex-column fourth-details px-4 py-5">
   <% end %>
    <%= if ctr != 4 && ctr != 0 do %>

                     <div class="col-md-6 each-detail d-flex justify-content-center flex-column  px-4 py-5">


                    <% end %>

                    <h3 class="font-weight-bold my-3"><%= v.title %></h3>
                    <p>
                       <%= v.details %>
                    </p>

                </div>
<% end %>



            </div>
        </div>
    </section>

