<section class="contact-section">
        <div class="row">
            <div class="col-md-6 col-12 about-description-text">
				<h2 class="font-weight-bold">Reach out to us</h2>
				<p>
                </p>
                
                <div>
                    <div class="my-4">
                        <img src="/img/Truck-01.png" alt="">
                        <span class="ml-2">No. 23 Ahmadu Bello Way,  Ilorin, Kwara State</span>
                    </div>
                    <div class="my-4">
                        <img src="/img/phone-01.png" alt="">
                        <span class="ml-2">+234  706 744 1526, +234 805 521 4910</span>
                    </div>
                    <div class="my-4">
                        <img src="/img/Message-01.png" alt="">
                        <span class="ml-2">info@brickcroftconstruction.com</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <%= form_for @conn, Routes.page_path(@conn, :contact), fn f ->  %>

                        <div class="form-row">
                            <div class="form-group col-md-12    ">
                                <input type="text" required name="subject" class="form-control custom-contact-control" id="name" placeholder="Subject">
                            </div>
</div>
 <div class="form-row">

                            <div class="form-group col-md-6">
                                                            <input required type="text" name="fullname" class="form-control custom-contact-control" id="name" placeholder="Name">
                                                        </div>
                            <div class="form-group col-md-6">
                                <input type="text" required name="phone" class="form-control custom-contact-control" id="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" required name="email" class="form-control custom-contact-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" required class="form-control custom-contact-control custom-contact-textarea" placeholder="Message"></textarea>
                        </div>
                        <%= raw Recaptcha.Template.display(size: "invisible") %>
                        <button type="submit" class="btn btn-warning btn-block custom-contact-button">Send Message</button>
                    <% end %>
            </div>
        </div>
    </section>
    