<div class="main-body-div">
    <div class="feature-sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="btn-group-vertical btn-block">
                  <%= for f <- @features  do %>
                  <a href="#<%= String.downcase(f.title) %>" class="btn btn-primary <%= if @conn.request_path == "#{@webpage.slug}##{f.title}" do    "active"  end %>"><%= String.capitalize(f.title) %></a>
                  <% end %>


                </div>
            </div>
            <%= for f <- @features do  %>
            <div class="col-md-9 sidebar-detail">
                <div class="sidebar-detail-box" id="<%= String.downcase(f.title) %>">
                    <h2 class="underline"><%= f.title %></h2>
                    <div class="lists">
                         <%= raw(f.details) %>
                    </div>
                    <div class="img-gallery">
                      <div class="row">
                      <%= for q <- f.feature_images do %>
                        <div class="col-md-3 col-sm-4" style="width: 206px; height: 137px;">
                          <div class="thumbnail">
                            <a href="/uploads/<%= q.image_path %>" target="_blank">
                              <img src="/uploads/<%= q.image_path %>" alt="<%= f.title %>" style="width:100%">
                            </a>
                          </div>
                        </div>
                        <% end %>

                      </div>
                    </div>
                </div>
<% end %>



            </div>
        </div>
    </div>
</div>


    </div>