

<section class="portfolio-section">
    <div id="buttons" class="d-flex mb-5 justify-content-center"></div>

    <div id="gallery">
        <div class="row">

<%= for {i,ctr} <- Enum.with_index(@images) do %>
            <div class="col-md-4 my-3 filter" data-tags="Engineering">
                <a href="#">
                    <div class="d-flex justify-content-center flex-column">
                        <img src="/uploads/<%= i.image_path %>" class="img-fluid" alt="Project Title">
                    </div>
                    <div class="text-center my-3 text-white">
                        <h3><%= i.title %></h3>
                        <span>Construction/Engineering</span>
                    </div>
                </a>
            </div>

            <% end %>

        </div>
    </div>


</section>
