<div class="main-body-div">
    <div class="feature-sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="btn-group-vertical btn-block">
                  <%= for f <- @services  do %>
                  <a href="#<%= String.downcase(f.title) %>" class="btn btn-primary <%= if @conn.request_path == "#{@webpage.slug}##{f.title}" do    "active"  end %>"><%= String.capitalize(f.title) %></a>
                  <% end %>


                </div>
            </div>
            <%= for f <- @services do  %>
            <div class="col-md-9 sidebar-detail">
                <div class="sidebar-detail-box" id="<%= String.downcase(f.title) %>">
                    <h2 class="underline"><%= f.title %></h2>
                    <div class="lists">
                         <%= raw(f.details) %>
                    </div>
                    <div class="img-gallery">
                      <div class="row">

                        <div class="col-md-9 col-sm-9" >

      <br/><%=  if f.medicalservicepack, do:  raw(f.medicalservicepack.package_detail) %></br>
                          </div>



                      </div>
                    </div>
                </div>
<% end %>



            </div>
        </div>
    </div>
</div>


    </div>