 <section class="team-section detailed-portfolio-page">
        <div class="row">
           <%= for {t,ctr} <- Enum.with_index(@teams) do %>
            <div class="col-md-4 my-2">
                <div class="projects">
                    <div class="project-image">
                        <img src="./img/Group11.png" class="h-100 w-100" alt="">
                    </div>
                    <div class="my-3 w-100 px-3">
                        <h3 class="text-white"><%= t.name %></h3>
                        <h5 class="yellow-text"><%= t.designation %></h5>
                        <p class="my-2 text-white">
                          <%= t.profile %>
                        </p>
                    </div>
                </div>
            </div>
<% end %>

            
            
                 
            </div>
        </div>

    </section>