<h1>Edit Webpage</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_webpage_path(@conn, :update, @webpage)) %>

<span><%= link "Back", to: Routes.admin_webpage_path(@conn, :index) , class: "btn btn-sm btn-primary pull-right m-t-n-xs" %></span>
