<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
<div class="form-group">
 <%= label f, :title %>
  <%= text_input f, :title,   required: "required",class: "form-control" %>

  <%= error_tag f, :title %>

  </div>
  <div class="form-group">
  <%= label f, :html_template %>
  <%= select f, :html_template , @files,  prompt: "Choose Page Template", required: "required",class: "form-control" %>
  <%= error_tag f, :html_template %>
</div>
<div class="form-group">
  <%= label f, :content %>
  <%= textarea f, :content, required: "required",rows: 25, id: "body-editor", class: "editor form-control" %>
  <%= error_tag f, :content %>
</div>
<div class="form-group">
  <%= label f, :slug %>
  <%= text_input f, :slug, class: "form-control" %>
  <%= error_tag f, :slug %>
</div>
<div class="form-group">
  <%= label f, :subtitle %>
  <%= text_input f, :subtitle ,class: "form-control"%>
  <%= error_tag f, :subtitle %>
</div>

  <div>
    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs submit"%>
  </div>
<% end %>
