<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Webpages List </h5>

                        </div>
                        <div class="ibox-content">
                            <div class="row">

 <div class="table-responsive">
                                <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Html template</th>

      <th>Slug</th>
      <th>Subtitle</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for webpage <- @webpages do %>
    <tr>
      <td><%= webpage.title %></td>
      <td><%= webpage.html_template %></td>

      <td><%= webpage.slug %></td>
      <td><%= webpage.subtitle %></td>

      <td>
        <%= link raw("""
                       <i class="fa fa-eye text-navy"></i>
                      """),  to: Routes.admin_webpage_path(@conn, :show, webpage) %>
        <%= link raw("""
                                        <i class="fa fa-edit text-navy"></i>
                                       """), to: Routes.admin_webpage_path(@conn, :edit, webpage) %>
        <%= link  raw("""
                                         <i class="fa fa-trash text-navy"></i>
                                        """), to: Routes.admin_webpage_path(@conn, :delete, webpage), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Webpage", to: Routes.admin_webpage_path(@conn, :new), class: "btn btn-sm btn-primary" %></span>
</div></div></div></div></div></div>