<h1>Show Webpage</h1>

<ul>

  <li>
    <strong>Html template:</strong>
    <%= @webpage.html_template %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= raw """
    #{@webpage.content}
    """ %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @webpage.slug %>
  </li>

  <li>
    <strong>Subtitle:</strong>
    <%= @webpage.subtitle %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_webpage_path(@conn, :edit, @webpage) , class: "btn btn-sm btn-primary pull-right m-t-n-xs" %> &nbsp; &nbsp;&nbsp; &nbsp;</span>

<span> &nbsp; &nbsp;&nbsp; &nbsp;<%= link "Back", to: Routes.admin_webpage_path(@conn, :index), class: "btn btn-sm btn-default pull-right m-t-n-xs" %></span>
