<section class="description-section">

<%= for {f,ctr} <- Enum.with_index(@features) do %>

		<div class="row each-description mx-0 gas-section">
			<div class="col-md-6 col-12 description-text text-right">
				<h2 class="font-weight-bold"><%= f.title %> </h2>

				<p>
					<%= raw f.details %>
				</p>
				<div class="text-btn">
					<button id="carsoule<%= ctr + 1 %>Prev" class="btn btn-secondary"><i class="fa fa-long-arrow-left"></i></button>
					<button id="carsoule<%= ctr + 1 %>Next" class="btn btn-secondary"><i class="fa fa-long-arrow-right"></i></button>
				</div>
			</div>
			<div id="carsoule<%= ctr + 1 %>" class="col-md-6 description-slider col-12 my-2 d-flex justify-content-center align-items-center">
                <%= for i <- f.feature_images do %>
				<img src="/uploads/<%= i.image_path  %>" class="img-fluid" alt="" />
				<% end %>

			</div>
		</div>
<% end %>





		<div class="row about-section position-relative">
			<div class="col-md-4 row text-white my-5">
				<div class="col-4">
					<div class="about-icons"><img src="./img/6.png" alt=""></div>
				</div>
				<div class="col-8 about-text">
					<h3 class="font-weight-bold">Innovation Model</h3>
					<span>
						We are targeted at offering the most up to date innovative designs which blend naturally into the contemporary style but in turn, are constructed to stand the test of time in regards to functionality.
					</span>
				</div>
			</div>
			<div class="col-md-4 row text-white my-5">
				<div class="col-4">
					<div class="about-icons"><img src="./img/1.png" alt=""></div>
				</div>
				<div class="col-8 about-text">
					<h3 class="font-weight-bold">Capacity</h3>
					<span>
						With our skilled team, we are able to handle various projects while delivering on each one with laser targeted excellence.
					</span>
				</div>
			</div>

			<div class="col-md-4 row text-white my-5">
				<div class="col-4">
					<div class="about-icons"><img src="./img/3.png" alt=""></div>
				</div>
				<div class="col-8 about-text">
					<h3 class="font-weight-bold">Efficiency</h3>
					<span>
						BrickCroft with a vision of advancing to become a globally recognised construction company and a brand has set the tone for positive growth and development across all departments that come together to make the company.

					</span>
				</div>
			</div>
			<div class="col-md-4 row text-white my-5">
				<div class="col-4">
					<div class="about-icons"><img src="./img/4.png" alt=""></div>
				</div>
				<div class="col-8 about-text">
					<h3 class="font-weight-bold">Easy Import</h3>
					<span>
					In regards to importation, BrickCroft offers a hassle free service in that regard. Having met all criteria and possessing all certifications allowing easy access to equipments or other heavy machinery requested by a client.
					</span>
				</div>
			</div>
			<div class="col-md-4 row text-white my-5">
				<div class="col-4">
					<div class="about-icons"><img src="./img/5.png" alt=""></div>
				</div>
				<div class="col-8 about-text">
					<h3 class="font-weight-bold">Services</h3>
					<span>
						We offer comprehensive construction services including building design works, remodeling and alterations, site preparation, roads construction and maintenance, private and public facility construction.


					</span>
				</div>
			</div>
		</div>

		<div class="row mx-0">
			<%=  for {h,ctr} <- Enum.with_index(@home_pics) do %>
			<div class="col-md-4">
				<a href="##">
					<div class="projects">
						<div class="project-image">
							<img src="/uploads/<%= h.image_path %>" class="h-100 w-100" alt="">
						</div>
						<div class="my-3">
							<h3 class="text-center text-white"><%= h.title %></h3>
						</div>
					</div>
				</a>
			</div>
			<% end %>




		</div>

		<div class="process-workflow py-3">
			<div class="workflow-text">
				<h1 class="text-white text-center font-weight-bold">Process Workflow</h1>
				<p class="text-white text-center">
					BrickCroft also takes pride in our consciousness of the environment, therefore embarking on eco-friendly projects to ensure the preservation of the environment using our 3P+S workflow
				</p>
			</div>

			<div class="row mx-0 my-5">
				<div class="col-md-3 position-relative each-workflow">
					<div class="workflow-img">
						<img src="./img/ContactUs.png" class="h-100 w-100" alt="">
					</div>
					<div class="workflow-number d-flex justify-content-center align-items-center position-absolute">
						<span>1</span>
					</div>
					<div class="position-absolute text-white workflow-arrow"><i class="fa fa-long-arrow-right"></i></div>
					<h2 class="text-white text-center mt-3">Problem</h2>
				</div>
				<div class="col-md-3 position-relative each-workflow">
					<div class="workflow-img">
					<a href="<%= Routes.page_path(@conn,:show_by_slug,"team")%>">	<img src="./img/OurProcess.png" class="h-100 w-100" alt=""></a>
					</div>
					<div class="workflow-number d-flex justify-content-center align-items-center position-absolute">
						<span>2</span>
					</div>
					<div class="position-absolute text-white workflow-arrow"><i class="fa fa-long-arrow-right"></i></div>
					<h2 class="text-white text-center mt-3">People</h2>
				</div>
				<div class="col-md-3 position-relative each-workflow">
					<div class="workflow-img">
						<img src="./img/InnovativeModel.png" class="h-100 w-100" alt="">
					</div>
					<div class="workflow-number d-flex justify-content-center align-items-center position-absolute">
						<span>3</span>
					</div>
					<div class="position-absolute text-white workflow-arrow"><i class="fa fa-long-arrow-right"></i></div>
					<h2 class="text-white text-center mt-3">Policies</h2>
				</div>
				<div class="col-md-3 position-relative each-workflow">
					<div class="workflow-img">
						<a href="<%= Routes.page_path(@conn,:show_by_slug,"about")%>"> <img src="./img/MakeAnOrder.png" class="h-100 w-100" alt=""></a>
					</div>
					<div class="workflow-number d-flex justify-content-center align-items-center position-absolute">
						<span>4</span>
					</div>
					<h2 class="text-white text-center mt-3">Solution</h2>
				</div>
			</div>
		</div>
		<div class="process-workflow py-3">
			<div class="workflow-text">
				<h1 class="text-white text-center font-weight-bold">Partners</h1>
				<p class="text-white text-center">
					We've partnered with world class  projects specialists

				</p>
			</div>

			<div class="row mx-0 my-5">
				<div class="col-md-3">
					<a href="http://imakandi.com" target="_blank" ><img class="img-fluid" src="./img/logo-dark.png" alt=""></a>
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
				<div class="col-md-3">
					<img class="img-fluid" src="./img/logo-dark.png" alt="">
				</div>
			</div>
		</div>

	</section>
