<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :title %>
  <%= text_input f, :title , required: "required",class: "form-control" %>
  <%= error_tag f, :title %>
<br/><br/>
  <%= label f, "Service brief (optional)" %>
  <%= textarea f, :details ,class: "form-control"  %>
  <%= error_tag f, :details %>

<br/><br/>
<%= inputs_for  f , :medicalservicepack,[as: :mdsp], fn p -> %>
<div class="form-group">
  <%= label p, "Service Package Details", class: "control-label" %>

  <%= textarea p, :package_detail, id: "editor", class: "form-control" %>
  <%= error_tag p, :package_detail %>
</div>
<% end %>

  <div>
    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs submit" %>
  </div>
<% end %>

