

<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> Listing Services </h5>

                        </div>
                        <div class="ibox-content">
                            <div class="row">

 <div class="table-responsive">
                                <table class="table table-striped">

  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for medical_service <- @medicalservices do %>
    <tr>
      <td><%= medical_service.title %></td>
      <td><%= medical_service.details %></td>

      <td>
        <%= link raw("<i class=\"fa fa-eye text-navy\"></i>"), to: Routes.admin_medical_service_path(@conn, :show, medical_service) %>
        <%= link raw("<i class=\"fa fa-edit text-navy\"></i>"), to: Routes.admin_medical_service_path(@conn, :edit, medical_service) %>
        <%= link raw("<i class=\"fa fa-trash text-navy\"></i>"), to: Routes.admin_medical_service_path(@conn, :delete, medical_service), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New  service", to: Routes.admin_medical_service_path(@conn, :new) ,class: "btn btn-sm btn-primary" %></span>
</div></div></div></div></div></div>