<h1>  Service</h1><div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-title">
                                                                <h5>  Service  </h5>

                                                           </div>
                                                           <div class="ibox-content">
                                                               <div class="row">
                                                                   <div class="col-sm-8">
<ul>

  <li>
    <strong>Title:</strong>
    <%= @medical_service.title %>
  </li>

  <li>
    <strong>Details:</strong>
    <%= @medical_service.details %>
  </li>
  <li>
    <strong>Service Package Details:</strong>
    <%= if @medical_service.medicalservicepack != nil, do: @medical_service.medicalservicepack.package_detail %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.admin_medical_service_path(@conn, :edit, @medical_service), class: "btn btn-sm btn-primary pull-right m-t-n-xs submit" %></span>
<span><%= link "Back", to: Routes.admin_medical_service_path(@conn, :index) , class: "btn btn-sm btn-primary pull-right m-t-n-xs submit" %></span>
</div></div></div></div></div></div></div>