/*
Author: Hamza Bashir
*/

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
}



.custom-group{
    position: relative;
}

.custom-input-icons{
    position: absolute;
    z-index: 3;
    font-size: 20px;
    top: 12px;
    left: 20px;
}

.custom-login-control{
    padding-left: 50px !important;
}

.custom-control {
    border-radius: 10px !important;
}

.custom-margin-forgot-password{
    margin: 0px 0px 10px;
}

.custom-select-font{
    font-size: 12px !important;
}

.logo-image{
    max-width: 70px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.round-logo{
    height: 50px;
    width: 50px;
}

.round-logo > img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.label-mini{
    border-radius: 10px;
}

.text-value{
    padding: 36px 0;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.create-admin-form{
    margin-top: 30px;
}

.modal-padded{
    padding: 20px;
}

.panel-padded{
    padding: 0 5px;
}

.panel-opacity:hover{
    opacity: 0.7;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.custom-textarea-control{
    height: 150px !important;
    border-radius: 10px !important;
}

.fa-user{
    font-size: 20px;
    margin: 5px;
}


/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BCE0FD;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2699FB;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    font-size:9px;
    font-family: Verdana, sans-serif;
  }

  .off{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    font-size: 9px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}


.switch-group{
    border: .5px solid #ddd;
    margin: 10px 20px;
    padding: 5px 0;
}

.switch-group-text{
    font-size: 18px;
}

.switch-wrapper{
    margin: 5em 0;
}

.add-ons-header{
    font-size: 30px;
    margin-bottom: 1em;
}

.custom-panel-height{
    max-height: 105px;
}

.sidebar-icon{
    margin-right: 3px;
}

.profile-panel-heading{
    font-size: 18px;
}

.profile-table{
    font-size: 16px;
}

.edit-button{
    margin-right: 20px;
    border-radius: 6px !important;
}

.save-button{
    border-radius: 6px !important;
}

.d-flex{
    display: flex !important;
}

.justify-content-center{
    justify-content: center !important;
}

.colored-table tbody tr td:first-child{
    background: #f2f2f2;
}

.colored-table{
    border: 1px solid #ddd;
}

.thank-you-container{
    background: #ffffff;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid #707070;
}
.thank-you-body{
    background: #0072CA;
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    max-height: 100%;
}

.thank-you-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thank-you-text .large-text{
    color: #183340;
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
}

.thank-you-text .small-text{
    color: #727171;
    font-size: 21px;
    text-align: center;
}

.thank-you-text .small-text span{
    color: #E32822;
}

.btn-thank-you{
    background: #E32822;
    font-size: 21px;
    border-radius: 45px;
    color: #ffffff;
    width: 25%;
    line-height: 50px;
}

.btn-save-profile{
    background: #E32822;
    font-size: 16px;
    border-radius: 20px;
    color: #ffffff;
    width: 25%;
    height: 45px;
}

.save-profile-div{
    margin-bottom: 100px;
    background: #ffffff;
    padding: 30px;
}

.bottom-div{
    margin-bottom: 100px;
}

.payroll-container{
    margin: 50px 20px;
}

input[type='radio'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
  }
  
  input[type='radio']:hover {
    box-shadow:0 0 5px 0px #fff inset;
  }
  
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background: #E32822;
  }

  .settings-label{
    margin-left: 20px;
  }

  .font-weight-bold{
      font-weight: bold !important;
  }

  .form-logo{
      display: flex;
      justify-content: center;
  }

  .form-logo img {
    margin: 4em 0 0 0;
    height: 80px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(118, 170, 247, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(104, 189, 239, 0.6);
  outline: 0 none;
}
@media (max-width: 767.98px) { 

    .thank-you-container{
        padding: 40px 20px;
    }
    .thank-you-body{
        padding: 100px 20px;
    }

    .thank-you-text .large-text{
        font-size: 30px;
    }

    .btn-thank-you {
        width: 70%;
    }
    
    .thank-you-text .small-text{
        font-size: 15px;
    }

    .switch-group{
        max-width: 100vw;
    }

    .switch-group-text{
        font-size: 15px;
    }
}