@media screen and  (max-width: 768px){


    .topNav{
        display: none;
    }

    .masthead{
        padding: 0 1em;
    }

    .header-text h1 {
        font-size: 45px;
    }

    .description-section{
        padding: 0 1em;
    }

    .each-description{
        flex-direction: column-reverse;
    }

    .description-text h2 {
        font-size: 18px;
    }

    .description-text p{
        font-size: 10px;
    }

    .text-btn button {
        height: 50px;
        width: 50px;
        line-height: 1;
    }

    .about-icons{
        padding: 0em;
    }

    .about-icons img {
        transform: scale(0.5);
    }

    .project-image {
        height: 350px;
        width: 255px;
    }

    .workflow-text h1 {
        font-size: 35px;
    }

    .workflow-text p {
        font-size: 15px;
    }

    /* About Page */

    .about-us-section{
        padding: 0 1em;
    }

    .about-details{
        padding: 1em;
    }

    /* Contact Page */

    .contact-section{
        padding: 1em;
    }

    .detailed-portfolio-masthead{
        padding: 0 1em;
    }

    .portfolio-section{
        padding: 1em;
    }

    .comin-soon-words{
        font-size: 35px;
    }

    .detailed-portfolio-header-text h1 {
        font-size: 50px;
    }

    .detailed-portfolio-page{
        padding: 1em;
    }

    .detailed-portfolio-image{
        max-width: 100%;
        height: auto;
        
    }

    .footer {
        padding: 1em;
    }

    .footer p {
        font-size: 16px;
    }

    .footer h2 {
        font-size: 40px;
    }

    .footer-logo{
        font-size: 40px;
    }

    .copyright {
        font-size: 18px;
        letter-spacing: 3px;
    }
}