<%= form_for @changeset, @action,[multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>



<div class="form-group">
  <%= label f, :title  %>
  <%= text_input f, :title , required: "required",class: "form-control" %>
  <%= error_tag f, :title %></div>


<div class="form-group">

  <%= label f, :details %>
  <%= textarea f, :details , required: "required",rows: 25, cols: 40, id: "body-editor", class: "editor form-control"%>
  <%= error_tag f, :details %>
  </div>

<%= inputs_for  f , :feature_images,[as: :fimage], fn p -> %>
<div class="form-group">
  <%= label p, :photo, class: "control-label" %>

  <%= file_input p, :photo, class: "form-control" %>
  <%= error_tag p, :image_path %>
</div>
<% end %>
  <div>
    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs submit" %>
  </div>
<% end %>

<br/><br/>


 <div class="row" >

 <h3>Uploaded Feature Images :</h3>
 <br/>
  <%= if @feature != [] do %> <%= for q <- @feature.feature_images  do   %>
  <p class="img-thumbnail">
  <img src="/uploads/<%= q.image_path %>" width="200" height="150" class="img-responsive" />
   <%= link "Delete", to: Routes.admin_feature_image_path(@conn,:delete, q.id),  method: :delete, data: [confirm: "Are you sure?"]  %>

  </p>

<% end  %> <% end %>
</div>
