<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> Listing Features </h5>

                        </div>
                        <div class="ibox-content">
                            <div class="row">

 <div class="table-responsive">
                                <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>

      <th>Images #</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for feature <- @features do %>
    <tr>
      <td><%= feature.title %></td>

      <td><%= length(feature.feature_images) %></td>


      <td>
        <%= link raw("<i class=\"fa fa-eye text-navy\"></i>"), to: Routes.admin_feature_path(@conn, :show, feature) %>
        <%= link raw("<i class=\"fa fa-edit text-navy\"></i>"), to: Routes.admin_feature_path(@conn, :edit, feature) %>
        <%= link raw("<i class=\"fa fa-trash text-navy\"></i>"), to: Routes.admin_feature_path(@conn, :delete, feature), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Feature", to: Routes.admin_feature_path(@conn, :new)  ,class: "btn btn-sm btn-primary"%></span>
</div></div></div></div></div></div>