<h1>Show Feature</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @feature.title %>
  </li>

  <li>
    <strong>Details:</strong>
    <%= raw @feature.details %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_feature_path(@conn, :edit, @feature) %></span>
<span><%= link "Back", to: Routes.admin_feature_path(@conn, :index) %></span>

<div class="row" >

 <h3>Uploaded Feature Images :</h3>
 <br/>
  <%= for q <- @feature.feature_images do   %>
  <p class="img-thumbnail">
  <img src="/uploads/<%= q.image_path %>" width="200" height="150" class="img-responsive" />
   <%= link "Delete", to: Routes.admin_feature_image_path(@conn,:delete, q.id),  method: :delete, data: [confirm: "Are you sure?"]  %>

  </p>

<% end %>
</div>
