<h1>Listing Sub categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for sub_category <- @sub_categories do %>
    <tr>
      <td><%= sub_category.name %></td>
      <td><%= sub_category.description %></td>

      <td>
        <%= link "Show", to: Routes.admin_sub_category_path(@conn, :show, sub_category) %>
        <%= link "Edit", to: Routes.admin_sub_category_path(@conn, :edit, sub_category) %>
        <%= link "Delete", to: Routes.admin_sub_category_path(@conn, :delete, sub_category), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Sub category", to: Routes.admin_sub_category_path(@conn, :new) %></span>
