<h1>New Sub category</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_sub_category_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_sub_category_path(@conn, :index) %></span>
