<h1>Show Sub category</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @sub_category.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @sub_category.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_sub_category_path(@conn, :edit, @sub_category) %></span>
<span><%= link "Back", to: Routes.admin_sub_category_path(@conn, :index) %></span>
