<h1>Edit Image gallery</h1>

<%= render "form_edit.html", Map.put(assigns, :action, Routes.admin_image_gallery_path(@conn, :update, @image_gallery)) %>

<span><%= link "Back", to: Routes.admin_image_gallery_path(@conn, :index) %></span>
