<%= form_for @changeset, @action, [multipart: true],  fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>


<div class="form-group">
  <%= label f, :image %>
  <%= file_input f, :photo ,class: "form-control" %>
  <%= error_tag f, :image_path %>
  </div>

<div class="form-group">
  <%= label f, :title %>
  <%= text_input f, :title , required: "required",class: "form-control"%>
  <%= error_tag f, :title %>
  </div>

  <div class="form-group">

  <%= label f, :sub_title %>
  <%= text_input f, :subtitle ,class: "form-control"%>
  <%= error_tag f, :subtitle %></div>

  <div class="form-group">

  <%= label f, :category %>
  <%= select f, :category , @categories,  selected: Enum.map(@categories, &(List.last(Tuple.to_list(&1)))), prompt: "choose a category for this image", required: "required",class: "form-control" %>
  <%= error_tag f, :category %>
  </div>

  <div class="form-group">

  <%= label f, :sub_category %>
  <%= select f, :sub_category , @sub_categories, prompt: "choose a sub category for this image", required: "required",class: "form-control" %>
  <%= error_tag f, :sub_category %>
  </div>
  <div>
    <%= submit "Upload" , class: "btn btn-sm btn-primary pull-right m-t-n-xs"%>
  </div>
<% end %>
