<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Images List </h5>

                        </div>
                        <div class="ibox-content">
                            <div class="row">

 <div class="table-responsive">
                                <table class="table table-striped">
  <thead>
    <tr>

      <th>Title</th>
      <th>Image</th>
      <th>Subtitle</th>
      <th>Section</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for image_gallery <- @imagegalleries do %>
    <tr>

      <td><%= image_gallery.title %></td>
       <td><img  class="img-responsive" width="100" height="100" src="/uploads/<%= image_gallery.image_path %>" /></td>
      <td><%= image_gallery.subtitle %></td>
      <td><%= image_gallery.section %></td>

      <td>
        <%= link raw("<i class=\"fa fa-eye text-navy\"></i>"), to: Routes.admin_image_gallery_path(@conn, :show, image_gallery) %>
        <%= link raw("<i class=\"fa fa-edit text-navy\"></i>"), to: Routes.admin_image_gallery_path(@conn, :edit, image_gallery) %>
        <%= link raw("<i class=\"fa fa-trash text-navy\"></i>"), to: Routes.admin_image_gallery_path(@conn, :delete, image_gallery), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Upload new Image", to: Routes.admin_image_gallery_path(@conn, :new) ,class: "btn btn-sm btn-primary" %></span>
</div></div></div></div></div></div>