<h1>Show Image </h1>

<ul>
<li>
    <strong>Title:</strong>
    <%= @image_gallery.title %>
  </li>
  <li>
    <strong>Image path:</strong>
    <img  class="img-responsive" width="400" height="400" src="/uploads/<%= @image_gallery.image_path %>" />
  </li>



  <li>
    <strong>Subtitle:</strong>
    <%= @image_gallery.subtitle %>
  </li>



</ul>

<span><%= link "Edit", to: Routes.admin_image_gallery_path(@conn, :edit, @image_gallery) , class: "btn btn-sm btn-primary" %></span>
<span><%= link "Back", to: Routes.admin_image_gallery_path(@conn, :index) %></span>
