<h1>Edit Feature image</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_feature_image_path(@conn, :update, @feature_image)) %>

<span><%= link "Back", to: Routes.admin_feature_image_path(@conn, :index) %></span>
