<%= form_for @changeset, @action, [multipart: true ], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>





<div class="form-group">
  <%= label f, :image_path %>
  <%= file_input f, :image_path , class: "form-control", required: "required" %>
  <%= error_tag f, :image_path %>
  </div>

<div class="form-group">
  <%= label f, :image_path %>
  <%= file_input f, :image_path , class: "form-control", required: "required" %>
  <%= error_tag f, :image_path %>
  </div>


<div class="form-group">
  <%= label f, :image_path %>
  <%= file_input f, :image_path , class: "form-control", required: "required" %>
  <%= error_tag f, :image_path %>
  </div>

  <div>
    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs submit"%>
  </div>
<% end %>
