<h1>Listing E</h1>

<table>
  <thead>
    <tr>
      <th>Feature</th>
      <th>Image </th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for feature_image <- @e do %>
    <tr>
      <td><%= feature_image.feature.title %></td>
      <td><img src="/uploads/<%= feature_image.image_path %>" width="200" height="200" class="img-responsive" /></td>

      <td>
        <%= link raw("<i class=\"fa fa-eye text-navy\"></i>"), to: Routes.admin_feature_image_path(@conn, :show, feature_image) %>
        <%= link raw("<i class=\"fa fa-edit text-navy\"></i>"), to: Routes.admin_feature_image_path(@conn, :edit, feature_image) %>
        <%= link raw("<i class=\"fa fa-trash text-navy\"></i>"), to: Routes.admin_feature_image_path(@conn, :delete, feature_image), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

