<h1>Show Feature image</h1>

<ul>

  <li>
    <strong>Feature images:</strong>
    <%= @feature_image.feature_images %>
  </li>

  <li>
    <strong>Image path:</strong>
    <%= @feature_image.image_path %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_feature_image_path(@conn, :edit, @feature_image) %></span>
<span><%= link "Back", to: Routes.admin_feature_image_path(@conn, :index) %></span>
