html {
  scroll-behavior: smooth;
}
html, body {
  margin:0;
  padding:0;
  font-family:Roboto, sans-serif;
}

html {
  height:100%;
}
body {
  min-height:100%;
  position:relative;
}
.inner-body{
  margin: 15px;
  min-height: 100vh;
  background-color: #eee;
  -webkit-box-shadow: 0 0 0.5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 0.5px 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 0.5px 1px rgba(0,0,0,0.2);
}

.inner-body .main-body-div{
  padding: 0 15px;
}
.main-body-div{
  margin-bottom: 80px;
}
.jumbotron {
  position:relative;
  padding:25px 0;
  border-radius:0 !important;
  background-color: #fff;
  color: green;
}

.j-text {
  font-size:2.8rem;
  text-transform: uppercase;
  line-height:4rem;
  font-weight: 700;
  margin:0;

}

.j-text span:nth-child(4) {
  /*color: rgba(78,78,252, 1);*/
  /*font-style: italic;*/
}

.jumbotron img {
  position:absolute;
  top:25px;
  width:120px;
  height:auto;
}

.jumbotron img:first-child {
  left:25px;
}

.jumbotron img:nth-child(2) {
  right:25px;
}

.navbar {
  margin-bottom:0 !important;
}

.navbar.navbar-default {
  background-image:none !important;
  background-color: rgba(31,144,61, 0.8);
  border-radius:0 !important;
  border:none !important;
}

.navbar.navbar-default li a {
  color:#ffffff !important;
  text-shadow:none !important;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
  color:#fff !important;
  background-color:rgba(31,144,61, 1) !important;
  background-image:none !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#ddd !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:transparent !important;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 100%;
}

.carousel-caption{
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.2);
}

.carousel-control{
  background-color: #00fb50;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  margin: 0 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 100ms ease-in;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
  margin-left: 0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
  margin-right: -20px;
}

.banner {
  position: relative;
}

.banner h2 {
  position: absolute;
  font-size: 3.5rem;
  font-weight: 700;
  top: 180px;
  left: 80px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  line-height: 4.5rem;
  background: -webkit-linear-gradient(rgb(251, 255, 246), rgb(240, 234, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner p {
  position: absolute;
  width: 380px;
  font-size: 1.6rem;
  top: 300px;
  left: 80px;
  line-height: 2.3rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(rgb(251, 255, 246), rgb(240, 234, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index-inner-body{
  margin-bottom: 80px;
}

.index-mission-statement {
  padding: 50px 30px;
  background-color: #eeeeee;
}

.index-mission-statement h2, .index-serve h2{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 0 20px 0;
  /*border-bottom: 5px solid rgba(0, 0, 0, 1);*/
}
.index-mission-statement span:nth-child(2), .index-serve span:nth-child(2){
  color: rgba(78,78,252, 1);
  /*border-bottom: 5px solid rgba(78,78,252, 1);*/
}
.index-mission-statement p, .index-serve p{
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.index-serve {
  padding: 20px 0 0 0;
}
.serve-boxes {
  margin: 30px 0 0 0;
}
.serve-box{
  border: 2px solid #dddddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.serve-box h3{
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.serve-box p{
  font-size: 1.4rem;
  line-height: 2.3rem;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 15px;
}

.footer {
  background-color: rgba(31,144,61,  1);
  color: #ffffff;
  padding: 15px 0;
}

footer p {
  margin: 0;
}

.jumbotron-feature {
  /*background-color:green;*/
  /*color:white;*/
  margin-bottom:0;
  padding:10px 0;
}

.feature-sidebar, .team-sidebar {
  /*height: 100vh !important;*/
  /*margin: 0;*/
  margin: 25px 0 0 0;
  /*padding: 25px 45px !important;*/
  /*background-color: #eeeeee !important;*/
}

.feature-sidebar .row div {
  padding-left:0;
}

.feature-sidebar button {
  padding:10px 0;
}

.btn {
  padding: 8px 24px;
  border: 0 none;
  letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline:0 none;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
  background:rgba(78,78,252, 0.8);
  color:#ffffff;
  border:1px solid rgba(78,78,252, 1);
}

.btn-primary:hover, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background:rgba(78,78,252, 1);
  border:1px solid rgb(64,64,205) !important;
}

.btn-primary:active, .btn-primary.active {
  background:rgba(78,78,252, 1) !important;
  box-shadow:none;
  border:1px solid rgb(64,64,205) !important;
}

.sidebar-detail {
  padding-right:0;
}

.sidebar-detail h2 {
  margin:0;
  /*width: 100%;*/
  padding-bottom:10px;
  font-size:2.5rem;
  font-weight:600;
}

.underline {
  border-bottom: 5px solid rgba(78,78,252, 1);
  display:inline-block;
}

.sidebar-detail .lists {
  padding-left:20px !important;
  margin-top:15px;
}

.sidebar-detail .lists ul {
  padding:0;
}

.sidebar-detail .lists ul li {
  margin-bottom:10px;
}

.img-gallery .row {
  margin-left:0 !important;
}

.team-sidebar .sidebar-detail-box p {
  margin-top:10px;
}

.doctor{
  position: relative;
  color: #fff;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 5px 0.1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 5px 0.1px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 0.1px rgba(0,0,0,0.2);
}
.doctor, .doctor-detail, .doctor img{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.doctor-detail {
  position: absolute;
  z-index: 5;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 140, 186, 0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.doctor-detail-text {
  color: white;
  font-size: 1.4rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  margin: 0;
  padding: 0 10px;
}
.doctor:hover .doctor-detail{
  bottom: 0;
  height: 100%;
}
/*.doctor img{*/
  /*-webkit-border-radius: 15px 15px 0 0;*/
  /*-moz-border-radius: 15px 15px 0 0;*/
  /*border-radius: 15px 15px 0 0;*/
/*}*/
.doctor img{
  width: 100%;
}

.doctor .doctor-text{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  background-color: rgba(78,78,252, 1);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.doctor .doctor-text p{
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.about-text {
  margin: 25px 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.fotorama__nav{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}

.note-address {
  margin:20px 0;
}

.note-address p span {
  font-weight:600;
  display:inline-block;
  width:70px;
}
.contact-box{
    padding-right: 0;
}

.contact-box > div{
    padding: 15px !important;
    margin: 0 15px 15px 0;
    height: 300px;
    border: 1px solid #dddddd;
}
.contact-box:nth-child(even) > div{
    margin-right: 0 !important;
}

@media (max-width: 768px) {
  .jumbotron img{
    width: 60px;
  }
  .jumbotron h2{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sidebar-detail-box {
    text-align:center;
  }
  .carousel-control{
    width: 30px;
    height: 30px;
  }
  .carousel-caption h3{
    margin-top: 0;
    font-size: 1.3rem;
    padding-top: 5px;
  }
  .carousel-caption p{
    margin-bottom: 0;
    font-size: 1.1rem;
    padding-bottom: 5px;
  }
}

@media (max-width: 992px) {
    .sidebar {
        padding-right:0;
        margin-bottom:25px;
    }
    .contact-box > div{
        margin: 0 0 15px 0;
        height: 150px;
    }
}

@media (max-width: 992px) {
     .sidebar-detail {
        margin-bottom:25px;
     }
}

@media screen and (min-width: 768px) {
  .carousel-control:hover {
    width: 60px;
    height: 60px;
  }
}