<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

<div class="form-group">
  <%= label f, :mission %>
  <%= textarea f, :mission , required: "required",class: "form-control" %>
  <%= error_tag f, :mission %>
  </div>
  <div class="form-group">

  <%= label f, :vision %>
  <%= textarea f, :vision , required: "required",class: "form-control"%>
  <%= error_tag f, :vision %></div>

 <div class="form-group">

 <%= label f, :values %>
  <%= textarea f, :values , required: "required",class: "form-control" %>
  <%= error_tag f, :values %></div>

  <div class="form-group">

  <%= label f, :header_address %>
  <%= textarea f, :header_address , required: "required",class: "form-control" %>
  <%= error_tag f, :header_address   %>
  </div>
  <div class="form-group">

  <%= label f, :header_phones %>
  <%= text_input f, :header_phones , required: "required",class: "form-control" %>
  <%= error_tag f, :header_phones %>
</div>
<div class="form-group">
  <%= label f, :header_email %>
  <%= text_input f, :header_email , required: "required",class: "form-control" %>
  <%= error_tag f, :header_email   %>
</div>


<div class="form-group">
  <%= label f, :footer_brief_pitch %>
  <%= textarea f, :footer_brief_pitch , required: "required",class: "form-control" %>
  <%= error_tag f, :footer_brief_pitch   %>
</div>

<div class="form-group">
  <%= label f, :footer_brief_service %>
  <%= textarea f, :footer_brief_service , required: "required",class: "form-control" %>
  <%= error_tag f, :footer_brief_service   %>
</div>

  <div>
    <%= submit "Save" , class: "btn btn-sm btn-primary pull-right m-t-n-xs" %>
  </div>
<% end %>
