<h1>Edit Contact address</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_contact_address_path(@conn, :update, @contact_address)) %>

<span><%= link "Back", to: Routes.admin_contact_address_path(@conn, :index) %></span>
