<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :address %>
  <%= text_input f, :address %>
  <%= error_tag f, :address %>

  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= label f, :phone %>
  <%= text_input f, :phone %>
  <%= error_tag f, :phone %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
