<h1>Listing Contact addresses</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for contact_address <- @contact_addresses do %>
    <tr>
      <td><%= contact_address.address %></td>
      <td><%= contact_address.email %></td>
      <td><%= contact_address.phone %></td>

      <td>
        <%= link "Show", to: Routes.admin_contact_address_path(@conn, :show, contact_address) %>
        <%= link "Edit", to: Routes.admin_contact_address_path(@conn, :edit, contact_address) %>
        <%= link "Delete", to: Routes.admin_contact_address_path(@conn, :delete, contact_address), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Contact address", to: Routes.admin_contact_address_path(@conn, :new) %></span>
