<h1>New Contact address</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_contact_address_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_contact_address_path(@conn, :index) %></span>
