<h1>Show Contact address</h1>

<ul>

  <li>
    <strong>Address:</strong>
    <%= @contact_address.address %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @contact_address.email %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @contact_address.phone %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_contact_address_path(@conn, :edit, @contact_address) %></span>
<span><%= link "Back", to: Routes.admin_contact_address_path(@conn, :index) %></span>
