

/* ***********************Brickroft Stylesheet*************************************** */

body{
	font-family: 'Oswald', sans-serif;
}

.topNav{
	display: flex;
}

.topNav span{
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: 0.2px;
	text-align: right;
}

.top-nav-icons span{
	margin: 0 0.3em;
}

.top-nav-icons span a img{
	transform: scale(0.6);
}

.masthead{
	background: url(../../img/hero_image.png);
	height: 100vh;
	background-position: center;
	padding: 0 3em;
}

.home-page-masthead{
	height: 85vh;
}

.banner-page-masthead{
	height: 60vh;
}
.other-page-masthead{
	height: 25vh;
}

.custom-navbar{
	background: #ffffff;
	padding: 1em 2em;
}

.custom-logo span{
	color: #e7a022;
}
.custom-nav-link{
	color: #000000 !important;
	font-size: 20px;
	margin: 0 0.5em;
}

.custom-nav-link:hover{
	color: #e7a022 !important;
}

.header-text h1{
	text-transform: uppercase;
	font-size: 120px;
}

.header-text h4{
	font-family: Roboto;
}

.description-slider img{
	max-width: 600px;
	max-height: 450px;
}

.description-section{
	background-image: linear-gradient(to bottom, #100f0f, #000000 10%, #000000);
	padding: 0 3em;
}

.gas-section{
	position: relative;
	bottom: 200px;
}

.description-text{
	color: #ffffff;
}

.description-text h2{
	font-size: 82px;
}

.text-btn button{
	height: 120px;
	width: 120px;
	font-size: 30px;
	background: #fff;
	color: #000;
}

.about-section{
	bottom: 150px;
}

.about-icons{
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 0.5em;
}

.about-icons img{
	transform: scale(0.8);
}

.about-text h3{
	color: #e7a022;
}

.projects{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project-image{
	height: 460px;
	width: 360px;
}

.workflow-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.workflow-text h1{
	text-transform: capitalize;
	font-size: 81px;
}

.workflow-text p{
	font-family: Roboto;
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	width: 70%;
}

.each-workflow:hover .workflow-img {
	transform: scale(1);
}

.each-workflow:hover .workflow-number{
	background: #ffffff;
	transform: scale(1);
}

.workflow-img {
	width: 278px;
	height: 278px;
	object-fit: contain;
	border-radius: 50%;
	transform: scale(0.7);
	-webkit-transition: 0.6s; /* For Safari 3.1 to 6.0 */
	transition: 0.6s;
}

.workflow-number{
	width: 110px;
	height: 110px;
	background: #e7a022;
	border-radius: 50%;
	top: 0;
	right: 0;
	font-size: 60px;
	font-weight: bold;
	transform: scale(0.7);
	-webkit-transition: 0.6s; /* For Safari 3.1 to 6.0 */
	transition: 0.6s;
}

.workflow-arrow{
	font-size: 30px;
	right: -15px;
	top: 30%;
}


/* About us page */

.about-us-section{
	padding: 5em 3em;
	background: #000000;
}

.about-description-text h2{
	font-size: 32px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.48;
	letter-spacing: 2.2px;
}

.about-description-text p{
	font-family: Roboto;
}

.about-description-text h6{
	font-family: Roboto;
	font-size: 20px;
}

.about-description-text{
	text-align: left;
	color: #ffffff;
}

.tab-content > .active {
	display: block;
	background: #e7a022;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #fff;
	background-color: #e7a022;
	border-color: #e7a022;
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	background: #fff;
	border: 1px solid #000;
	color: #000;
}

.nav-tabs {
	border-bottom: 0;
}

.tab-details{
	font-family: Roboto;
}

.about-details{
	background: #0f0f0f;
	color: #ffffff;
	padding: 0 3em;
}

.each-detail{
	height: 370px;
	background-color: #0f0f0f;
	max-width: 330px;
}

.each-detail h3{
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.48;
	letter-spacing: 1.9px;
}

.each-detail p{
	font-family: Roboto;
}

.each-detail button{
	background: #e7a022;
	color: #ffffff;
	border-radius: 0;
	width: 35%;
}

.first-details{
	background: url(../../img/Group13.png);
}

.fourth-details{
	background: url(../../img/Group11.png);
}

/* Contact Page */

.contact-section{
	padding: 5em 3em;
	background: #000000;
}

.custom-contact-control{
	border-radius: 2px;
}

.custom-contact-textarea{
	height: 200px !important;
}

.custom-contact-button{
	border-radius: 2px;
	background-color: #e7a022;
	color: #ffffff;
}

/* Portfolio Page */

.portfolio-section{
	padding: 5em 3em;
	background: #000000;
}

#buttons button{
	margin: 0 2em;
	background: #000;
	color: #fff;
	border: 0;
	cursor: pointer;
}

#buttons .active{
	color: #e7a022;
}

.portfolio-btn button{
	background: #e7a022;
	color: #ffffff;
	border-radius: 0;
	width: 15%;
}

/* Coming soon page */

.comin-soon-words{
	font-size: 130px;
}

.comin-soon-words p{
	color: #e7a022;
}

.comin-soon-words span{
	color: #ffffff;
}

/* detailed portfolio page */

.detailed-portfolio-masthead{
	background: #000000;
	height: 50vh;
	padding: 0 3em;
}

.detailed-portfolio-page{
	background: #000000;
	padding: 5em 3em;
}

.detailed-portfolio-image{
	width: 550px;
	height: 450px;

}
.yellow-text {
	color: #e7a022;
}

.detailed-portfolio-header-text h1 {
	font-size: 110px;
}

.footer{
	background: #e7a022;
	padding: 3em;
}

.footer-logo{
	font-size: 59px;
	color: #000;
}

.footer h2{
	font-size: 59px;
	color: #000;
}

.footer-logo span {
	color: #fff;
}

.footer p{
	font-size: 25px;
	color: #000;
	font-family: Roboto;
}

.copyright{
	color: #ffffff;
	background: #000000;
	font-size: 25px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.48;
	letter-spacing: 5px;
}