<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BrickCroft Construction | Admin Dashboard</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="<%= Routes.static_path(@conn,"/css/plugins/toastr/toastr.min.css") %>" rel="stylesheet">



    <link href="<%= Routes.static_path(@conn,"/css/animate.css") %>" rel="stylesheet">
    <link href="<%= Routes.static_path(@conn, "/css/style.css") %>" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>

                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= "#{@conn.assigns.current_user.firstname}  #{@conn.assigns.current_user.lastname}" %></strong>
                             </span> <span class="text-muted text-xs block">Staff <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="<%= Routes.admin_user_path(@conn, :userprofile) %>">Profile</a></li>
                                <li><a href="<%= Routes.admin_session_path(@conn,:change_password)%>">Change Password</a></li>

                                <li class="divider"></li>
                                <li><a href="<%= Routes.admin_session_path(@conn,:delete) %>">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            BCL Admin
                        </div>
                    </li>


 <li>
                        <a target="_blank" href="<%= Routes.page_path(@conn, :index) %>"><i class="fa fa-home   "></i> <span class="nav-label">Main Website</span></a>
                    </li>

                    <li>
                        <a href="<%= Routes.session_path(@conn, :new) %>"><i class="fa fa-diamond"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-group"></i> <span class="nav-label">Users</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="<%= Routes.admin_user_path(@conn, :index) %>">List User</a></li>
                            <li><a href="<%= Routes.admin_user_path(@conn, :new) %>">Add user</a></li>

                        </ul>
                    </li>

                       <li>
                                            <a href="#"><i class="fa fa-file-o"></i> <span class="nav-label">Pages</span><span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level collapse">
                                                <li><a href="<%= Routes.admin_webpage_path(@conn, :index) %>"> List Pages </a></li>
                                                <li><a href="<%= Routes.admin_webpage_path(@conn, :new) %>">Add Page </a></li>

                                            </ul>
                                        </li>

  <li>
                                            <a href="#"><i class="fa fa-location-arrow"></i> <span class="nav-label">Contact Info</span><span class="fa arrow"></span></a>
                                            <ul class="nav nav-second-level collapse">
                                                <li><a href="<%= Routes.admin_contact_path(@conn, :index) %>"> List Contact </a></li>
                                                <li><a href="<%= Routes.admin_contact_path(@conn, :new) %>">Add Contact </a></li>

                                            </ul>
                                        </li>



                    <li>
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Images Gallery</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="<%= Routes.admin_image_gallery_path(@conn,:index) %>">List Gallery</a></li>
                            <li><a href="<%= Routes.admin_image_gallery_path(@conn,:new) %>">Add Image</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Features</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="<%= Routes.admin_feature_path(@conn,:index)%>">List Features</a></li>
                            <li><a href="<%= Routes.admin_feature_path(@conn,:new)%>">Add Feature</a></li>
                            <li><a href="<%= Routes.admin_feature_image_path(@conn,:index)%>">List Features Pictures </a></li>


                        </ul></li>


                              <li>
                                                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Company Services</span><span class="fa arrow"></span></a>
                                                <ul class="nav nav-second-level collapse">
                                                    <li><a href="<%= Routes.admin_medical_service_path(@conn,:index)%>">List Services</a></li>
                                                    <li><a href="<%= Routes.admin_medical_service_path(@conn,:new)%>">Add Service</a></li>


                                                </ul></li>


                               <li>
                                                                             <a href="#"><i class="fa fa-globe"></i> <span class="nav-label"> Team </span><span class="fa arrow"></span></a>
                                                                             <ul class="nav nav-second-level collapse">
                                                                                 <li><a href="<%= Routes.admin_team_path(@conn,:index)%>">List Team</a></li>
                                                                                 <li><a href="<%= Routes.admin_team_path(@conn,:new)%>">Add Team</a></li>


                                                                             </ul></li>



                         <li>
                                                <a href="<%= Routes.admin_setting_path(@conn,:new)%>"><i class="fa fa-globe"></i> <span class="nav-label">General Settings</span></a></li>







                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome <%= @conn.assigns.current_user.firstname %></span>
                </li>



                <li>
                    <a href="<%= Routes.admin_session_path(@conn,:delete) %>">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
            </ul>

        </nav>
        </div>
  <%= render @view_module, @view_template, assigns %>


        </div>


    </div>

   <script src="<%= Routes.static_path(@conn,"/js/app.js") %>"></script>


<script src="<%= Routes.static_path(@conn,"/js/plugins/toastr/toastr.min.js") %>"></script>

    <!-- Mainly scripts -->
    <script src="<%= Routes.static_path(@conn, "/js/plugins/metisMenu/jquery.metisMenu.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/plugins/slimscroll/jquery.slimscroll.min.js") %>"></script>




    <!-- Custom and plugin javascript -->
    <script src="<%= Routes.static_path(@conn, "/js/inspinia.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/plugins/pace/pace.min.js") %>"></script>

    <!-- jQuery UI -->
    <script src="<%= Routes.static_path(@conn, "/js/plugins/jquery-ui/jquery-ui.min.js") %>"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>



<script>
var editor;
ClassicEditor.create( document.querySelector( '.editor' ),{

 toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]}})

				.catch( error => {
					console.error( error );
				} );

if(document.querySelector(".editor")){
document.querySelector(".editor").required = false;
}


</script>


<%= if get_flash(@conn, :info) do %>

<script type="text/javascript">
 console.info("Infor here");
        $(document).ready(function() {

            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.info("<%= get_flash(@conn, :info) %>");

            }, 1300);
            });
    </script>
<% end %>



<%= if get_flash(@conn, :error) do %>
<script>


        $(document).ready(function() {

            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.error("<%= get_flash(@conn, :error) %>");

            }, 1300);
            });
    </script>
<% end %>


</body>
</html>
<link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn,"/css/simditor.css") %>" />


<script type="text/javascript" src="<%= Routes.static_path(@conn,"/js/module.js") %>"></script>
<script type="text/javascript" src="<%= Routes.static_path(@conn,"/js/hotkeys.js") %>"></script>

<script type="text/javascript" src="<%= Routes.static_path(@conn,"/js/simditor.js") %>"></script>

<script>

var smd = new Simditor({
  textarea: $('#editor')
  //optional options
});
</script>