<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BCL Admin | Login</title>

    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">
<link href="<%= Routes.static_path(@conn,"/css/plugins/toastr/toastr.min.css") %>" rel="stylesheet">
    <link href="<%= Routes.static_path(@conn ,"/css/style.css") %>" rel="stylesheet">

</head>


<body class="gray-bg">






          <%= render @view_module, @view_template, assigns %>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

<script src="<%= Routes.static_path(@conn,"/js/plugins/toastr/toastr.min.js") %>"></script>

<%= if get_flash(@conn, :info) do %>
<script>
        $(document).ready(function() {

            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.info("<%= get_flash(@conn, :info) %>");

            }, 1300);
            });
    </script>
<% end %>


<%= if get_flash(@conn, :error) do %>
<script>
        $(document).ready(function() {

            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.error("<%= get_flash(@conn, :error) %>");

            }, 1300);
            });
    </script>
<% end %>


  </body>
</html>