<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Brickcroft Construction Ltd Company Website">
    <meta name="author" content="Le Proghrammeen Solutions Ltd">

    <title>BrickCroft Construction</title>

    <!-- Browser Tab Icon -->
	<link rel="icon" href="/img/favicon.jpg">

    <!-- Bootstrap core CSS -->
    <link href="<%= Routes.static_path(@conn,"/web/bootstrap/css/bootstrap.css") %>" rel="stylesheet" type="text/css">

    <!-- Font Link -->
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



    <!-- Custom Stylesheet -->
	<link href="<%= Routes.static_path(@conn,"/css/web/style.css") %>" rel="stylesheet" type="text/css">
	<link href="<%= Routes.static_path(@conn,"/css/web/style.responsive.css") %>" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="<%= Routes.static_path(@conn,"/web/slick/slick.css") %>" />

    <!-- Other Stylesheets -->
	<link rel="stylesheet" href="<%= Routes.static_path(@conn,"/web/font-awesome/css/font-awesome.css") %>">


</head>

<body>
<header class="masthead masthead <%= cond     do %> <%= @conn.request_path == "/" ->  %> home-page-masthead  <%= @conn.request_path == "/about" ->  %> banner-page-masthead  <%= @conn.request_path == "/contact" ->  %> banner-page-masthead  <%= true -> %> other-page-masthead <% end %>">
		<div class="topNav py-4">
			<div class="d-flex">
				<div class="mx-2">
					<img src="<%= Routes.static_path(@conn,"/img/Truck-01.png") %>" alt="">
					<span>

					<%= if @settings.header_address do %>
                      			  <%= @settings.header_address %>
                      			<% end %>
					</span>
				</div>
				<div class="mx-2">
					<img src="/img/phone-01.png" alt="">
					<span>

					<%= if @settings.header_phones do %>
                                          			  <%= @settings.header_phones %>
                                          			<% end %></span>
				</div>
				<div class="mx-2">
					<img src="/img/Message-01.png" alt="">
					<span>
					<%= if @settings.header_email do %>
                                          			  <%= @settings.header_email %>
                                          			<% end %>
					</span>
				</div>
			</div>
			<div class="ml-auto top-nav-icons">
				 s
				<span><a href=""><img src="/img/instagram-logo-white.png" alt=""></a></span>
				<span><a href=""><img src="/img/twitter-logo-button-white.png" alt=""></a></span>
			</div>
		</div>
<%= render BrickcroftWeb.LayoutView, "nav.html" , conn: @conn %>

        <%= if @conn.request_path == "/" do  %>
		<div class="header-text mt-5">
			<h1 class="text-white text-center font-weight-bold">Construction Company</h1>
		</div>

		<% end %>

        <%= if @conn.request_path == "/about" do  %>
		<div class="header-text mt-5 pt-5 d-flex justify-content-center align-items-center flex-column">
                    <h1 class="text-white text-center font-weight-bold">About us</h1>
                    <h4 class="text-white text-center w-75">
                   BrickCroft is a contemporary construction company inclined towards world class constructions, general contracts and import and export of general merchandise.

                        </h4>
        		</div>
        		<% end %>
 <%= if @conn.request_path == "/contact" do  %>
<div class="header-text mt-5 pt-5 d-flex justify-content-center align-items-center flex-column">
            <h1 class="text-white text-center font-weight-bold">Contact Us</h1>
            <h4 class="text-white text-center w-75">
            BrickCroft is a contemporary construction company inclined towards world class constructions, general contracts and import and export of general merchandise.
            </h4>
		</div>
		<% end %>
<%= if @conn.request_path == "/team" do  %>
		<div class="header-text mt-5 pt-5 d-flex justify-content-center align-items-center flex-column">
                    <h1 class="text-white text-center font-weight-bold">Our Team</h1>
                </div>
                <% end %>

	</header>

  <%= render @view_module, @view_template, assigns %>


  <footer>

  		<div class="row mx-0 footer">
  			<div class="col-md-6">
  				<a class="font-weight-bold footer-logo text-uppercase" href="#"><span>Brick</span>croft</a>
  				<p class="">
  			<%= if @settings.footer_brief_pitch do %>
  			  <%= @settings.footer_brief_pitch %>
  			<% end %>
  						</p>
  			</div>
  			<div class="col-md-6">
  				<h2>What we do</h2>
  				<p class="">
  				<%= if @settings.footer_brief_pitch do %>
                  			  <%= @settings.footer_brief_service %>
                  			<% end %>
  						</p>
  			</div>
  		</div>
  		<div class="copyright text-center py-3">
  			<span>All Rights Reserved <%= DateTime.utc_now.year %></span>
  		</div>

  	</footer>


    <script src="<%= Routes.static_path(@conn,"/js/web/js/jquery.js") %>"></script>
    <script src="<%= Routes.static_path(@conn,"/web/bootstrap/js/bootstrap.js") %>"></script>
		<script type="text/javascript" src="<%= Routes.static_path(@conn,"/web/slick/slick.min.js") %>"></script>


	<script src="<%= Routes.static_path(@conn,"/js/web/js/scripts.js") %>"></script>




</body>

</html>



