<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

    <%= render @view_module, @view_template, assigns %>
    <p>- The BCL Team.</p>
  </body>
</html>