
		<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
			<a class="navbar-brand font-weight-bold custom-logo text-uppercase" href="<%= Routes.page_path(@conn,:index) %>"><span>Brick</span>Croft</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link custom-nav-link" href="<%= Routes.page_path(@conn,:index) %>">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-nav-link" href="<%= Routes.page_path(@conn,:show_by_slug,"portfolio") %>">PORTFOLIO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-nav-link" href="<%= Routes.page_path(@conn,:show_by_slug, "about") %>">ABOUT US</a>
					</li>
					<li class="nav-item">
                    						<a class="nav-link custom-nav-link" href="<%= Routes.page_path(@conn,:show_by_slug,"team") %>">OUR TEAM</a>
                    					</li>
					<li class="nav-item">
						<a class="nav-link custom-nav-link" href="<%= Routes.page_path(@conn,:show_by_slug, "contact") %>">CONTACT US</a>
					</li>
				</ul>
			</div>
		</nav>
